
html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}
a   {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

p,h1,h2,h3,h4,ul {
    margin: 0;
    padding: 0;
}


@font-face {
font-family: "Montserrat";
src: local("Montserrat-Regular"),
url("../fonts/Montserrat-Regular.woff2") format("woff2"),
url("../fonts/Montserrat-Regular.woff") format("woff");
font-weight: 400;
font-style: normal;
font-display: swap;
}

@font-face {
font-family: "Montserrat";
src: local("Montserrat-Medium"),
url("../fonts/Montserrat-Medium.woff2") format("woff2"),
url("../fonts/Montserrat-Medium.woff") format("woff");
font-weight: 500;
font-style: normal;
font-display: swap;
}

@font-face {
font-family: "Montserrat";
src: local("Montserrat-SemiBold"),
url("../fonts/Montserrat-SemiBold.woff2") format("woff2"),
url("../fonts/Montserrat-SemiBold.woff") format("woff");
font-weight: 600;
font-style: normal;
font-display: swap;
}

@font-face {
font-family: "Montserrat";
src: local("Montserrat-Bold"),
url("../fonts/Montserrat-Bold.woff2") format("woff2"),
url("../fonts/Montserrat-Bold.woff") format("woff");
font-weight: 700;
font-style: normal;
font-display: swap;
}

@font-face {
font-family: "Montserrat";
src: local("Montserrat-ExtraBold"),
url("../fonts/Montserrat-ExtraBold.woff2") format("woff2"),
url("../fonts/Montserrat-ExtraBold.woff") format("woff");
font-weight: 800;
font-style: normal;
font-display: swap;
}


.btn-reset {
padding: 0;
border: none;
background-color: transparent;
cursor: pointer;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

body {
    font-family:  Montserrat,sans-serif;
    font-style: normal;
    line-height: normal;
    min-width: 320px;
}

.container {
max-width: 1920px;
margin: 0 auto;
padding: 0 310px
}

.container-big {
max-width: 1920px;
margin: 0 auto;
padding: 0 69px 0 182px;
}

.ccontainer-glob {
max-width: 1920px;
margin: 0 auto;
}

.title {
text-align: center;
font-size: 40px;
font-weight: 800;
text-transform: uppercase;
color:  #5BC363;

}

:root {
--dark-gray: #3F3F3F;
--white: #FFF;
}

/* header */

.header {
padding: 16px 0;

}

.header__list {
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
-webkit-box-pack: end;
    -ms-flex-pack: end;
        justify-content: end;
}

.header__adress {
margin-right: 80px;
color:  var(--dark-gray);
font-size: 16px;    
font-weight: 600;
font-style: normal;

}

.header__tel {
margin-right: 55px;
color:  var(--dark-gray);
font-size: 16px;    
font-weight: 600;
}

.header__btn {
color:  #5BC363;
font-size: 16px;
font-weight: 700;
border-radius: 12px;
border: 3px solid #5BC363;   
padding: 11px 31px;
text-transform: uppercase;
-webkit-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
-o-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.header__btn:hover {
color:  var(--white);
background-color: #5BC363;
}

.header__btn:focus {
color:  orange;
outline: none;
}

.header__btn:active {
background-color:  orange;
color:  var(--white);
}

/* hero */

.hero {
background-image: url('../img/background-hero.png');
background-repeat: no-repeat;
min-height: 782px;
background-position: -113px 36px;
}

.hero__desc {
width: 50%;
margin-left: auto;
text-align: start;
-webkit-box-pack: end;
    -ms-flex-pack: end;
        justify-content: end;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
padding-top: 167px;
}

.hero__title {
color: var(--dark-gray);
font-size: 60px;
font-weight: 800;
margin-bottom: 60px;
text-transform: uppercase;
}

.hero__title-price {
padding: 15px 30px;
border-radius: 12px;
color:  #5BC363;
font-size: 24px;
font-weight: 700;
background-color: rgba(235, 249, 251, 1);
-webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
vertical-align: middle;
}

.hero__sub-title {
color: var(--white);
font-size: 24px;
margin-bottom: 47px;
text-transform: uppercase;
}



.hero__form-input {
padding: 18px 84px 18px 29px;
border-radius: 12px;
border: none;
-webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
background:  #EBF9FB;
margin-right: 11px;
margin-bottom: 17px;
}

.hero__form-input::-webkit-input-placeholder {
color:  #9C9C9C;
font-size: 18px;
font-weight: 400;
}

.hero__form-input::-moz-placeholder {
color:  #9C9C9C;
font-size: 18px;
font-weight: 400;
}

.hero__form-input:-ms-input-placeholder {
color:  #9C9C9C;
font-size: 18px;
font-weight: 400;
}

.hero__form-input::-ms-input-placeholder {
color:  #9C9C9C;
font-size: 18px;
font-weight: 400;
}

.hero__form-input::placeholder {
color:  #9C9C9C;
font-size: 18px;
font-weight: 400;
}

.btn {
border-radius: 12px;
background: #5BC363;
-webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
font-size: 24px;
font-weight: 800;
color:  var(--white);
padding: 14px 56px;
text-transform: uppercase;
-webkit-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
-o-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

}

.btn:hover {
background-color:  rgb(195, 227, 98);
}

.btn:focus {
color:  orange;
outline: none;
}

.btn:active {
background-color:  orange;
color:  var(--white);
}

.hero__form-desc {
font-size: 14px;
font-weight: 500;
line-height: 15px;
color:  var(--dark-gray);
max-width: 470px;
text-align: center;
margin-left: 57px;
}

/* services */

.services {
margin-bottom: 55px;
}

.services__tittle {
margin-bottom: 43px;
}

.services__list {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.services__item {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
-webkit-box-align: end;
    -ms-flex-align: end;
        align-items: flex-end;
margin-bottom: 30px;
}

.services__item-link {
display: inline-block;
border-radius: 20px;
width: 100%;
padding: 32px 28px;
background-color: lightgray; 
background: url('../img/services.svg');
background-repeat: no-repeat;
-webkit-transition:outline 0.2s ease-in-out, -webkit-box-shadow 0.3s ease-in-out,-webkit-transform 0.3s ease-in-out;
transition:outline 0.2s ease-in-out, -webkit-box-shadow 0.3s ease-in-out,-webkit-transform 0.3s ease-in-out;
-o-transition:outline 0.2s ease-in-out, box-shadow 0.3s ease-in-out,transform 0.3s ease-in-out;
transition:outline 0.2s ease-in-out, box-shadow 0.3s ease-in-out,transform 0.3s ease-in-out;
transition:outline 0.2s ease-in-out, box-shadow 0.3s ease-in-out,transform 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out,-webkit-transform 0.3s ease-in-out;
}

.services__item-link:hover {
background: var(--white);
outline: 3px solid  #0D8AF4;
-webkit-box-shadow: 0px 0px 16px 0px rgba(12, 137, 243, 0.35);
        box-shadow: 0px 0px 16px 0px rgba(12, 137, 243, 0.35);
}

.services__item-link:focus {
background: lightblue;
outline: 3px solid  #0D8AF4;
-webkit-box-shadow: 0px 0px 16px 0px rgba(12, 137, 243, 0.35);
        box-shadow: 0px 0px 16px 0px rgba(12, 137, 243, 0.35);
}

.services__item-link:active {
background: lightblue;
-webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
        transform: scale(0.95);
}

.services__item-title {
color: var(--dark-gray);
margin-bottom: 14px;
font-size: 22px;
font-weight: 700;
text-align: left;
}

.item-small {
max-width: 407px;
margin-right: 20px;

}

.item-large {
max-width: 293px;
margin-right: 27px;

}

/* advantages */

.advantages {
background-image: url('../img/advantage-picture.png');

background-repeat: no-repeat;
background-position: 50% 67%;
min-height: 670px;
}

.advantages__title {
margin-bottom: 88px;

}

.advantages__item:nth-child(3), 
.advantages__item:nth-child(4) {
width: 62%;
}

.advantages__item:nth-child(2n) {
-ms-grid-column-align: end;
    justify-self: end;
}

.advantages__list {
display: -ms-grid;
display: grid;
-ms-grid-columns: 1fr 62px 1fr;
grid-template-columns: repeat(2, 1fr);
gap: 62px;
margin: 0 auto;
justify-items: start;
}

.advantages__item {
padding: 17px 36px;
text-align: center;
width: 69%;
-webkit-box-sizing: border-box;
        box-sizing: border-box;
border-radius: 20px;
background: var(--white);
-webkit-box-shadow: 0px 4px 24px 0px rgba(22, 91, 150, 0.28);
        box-shadow: 0px 4px 24px 0px rgba(22, 91, 150, 0.28);
text-align: center;
}

/* feedback */

.feedback {
background: url('../img/bg.png'), no-repeat;
min-height: 733px;
margin-bottom: 46px;
background-position: 0 -45px;
}

.feedback__desc-container {
max-width: 1920px;
margin: 0 auto;
padding: 0 502px;
}

.feedback__title {
color: var(--white);
padding-top: 158px;
text-align: left;
font-size: 40px;
font-weight: 800;
text-transform: uppercase;
margin-bottom: 63px;
}

.feedback__sub-title {
color: var(--dark-gray);
font-size: 18px;
font-weight: 500;
max-width: 443px;
text-align: center;
margin-bottom: 29px;
}

.feedback__form-container {
max-width: 546px;
margin: 0 454px;
}

.feedback__form {
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
gap: 14px;
}

.feedback__input {
padding: 19px 0 16px;
border:none;
border-radius: 12px;
background: var(--white);
-webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
text-align: center;
color: #9C9C9C;
font-size: 18px;
font-weight: 400;

}

.feedback__btn {
padding: 20px 0 21px;
margin-bottom: 14px;
}

.feedback__form-desc {
text-align: center;
font-size: 14px;
font-weight: 500;
color: var(--dark-gray);
max-width: 433px;
margin: 0 auto;
}

/* ecology */

.ecology {
margin-bottom: 49px;
}

.ecology__title {
margin-bottom: 12px;
}

.ecology__sub-title {
color: var(--dark-gray);
text-align: center;
font-size: 16px;
font-weight: 500;
max-width: 426px;
margin: 0 auto;
margin-bottom: 40px;
}

.ecology__list {
-ms-flex-wrap: wrap;
    flex-wrap: wrap;
-webkit-box-pack: justify;
    -ms-flex-pack: justify;
        justify-content: space-between;
}

.ecology__item {
width: 49%;
color: var(--dark-gray);
font-size: 16px;
font-weight: 500;
margin-bottom: 33px;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;


}

.ecology__item-link {
display: inline-block;
border-radius: 20px;
width: 100%;
padding: 30px;
background: url('../img/services.svg');
background-size: cover;
background-repeat: no-repeat;
-webkit-transition:outline 0.2s ease-in-out, color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out,-webkit-transform 0.3s ease-in-out;
transition:outline 0.2s ease-in-out, color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out,-webkit-transform 0.3s ease-in-out;
-o-transition:outline 0.2s ease-in-out, box-shadow 0.3s ease-in-out,transform 0.3s ease-in-out, color 0.3s ease-in-out;
transition:outline 0.2s ease-in-out, box-shadow 0.3s ease-in-out,transform 0.3s ease-in-out, color 0.3s ease-in-out;
transition:outline 0.2s ease-in-out, box-shadow 0.3s ease-in-out,transform 0.3s ease-in-out, color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out,-webkit-transform 0.3s ease-in-out;
}

.ecology__item-link:hover {
background: var(--white);
outline: 3px solid  #5BC363;
color:#5BC363;
-webkit-box-shadow: 0px 0px 16px 0px rgba(12, 137, 243, 0.35);
        box-shadow: 0px 0px 16px 0px rgba(12, 137, 243, 0.35);
}

.ecology__item-link:focus {
background: lightblue;
outline: 3px solid   #5BC363;
-webkit-box-shadow: 0px 0px 16px 0px rgba(12, 137, 243, 0.35);
        box-shadow: 0px 0px 16px 0px rgba(12, 137, 243, 0.35);
}

.ecology__item-link:active {
background: rgb(173, 230, 182);
-webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
        transform: scale(0.95);
color: var(--white);
}

/* partners */

.partners {
margin-bottom: 64px;
}

.partners__title {
margin-bottom: 17px;
}

.partners__sub-title {
color: var(--dark-gray);
text-align: center;
font-size: 20px;
font-weight: 500;
margin-bottom: 29px;
}

.partners__item {
width: 33%;

}

.partners__item-link {
-webkit-transition: opacity 0.3s ease-in-out;
-o-transition: opacity 0.3s ease-in-out;
transition: opacity 0.3s ease-in-out;
}

.partners__item-link img {
-webkit-transition: -webkit-transform 0.3s ease-in-out;
transition: -webkit-transform 0.3s ease-in-out;
-o-transition: transform 0.3s ease-in-out;
transition: transform 0.3s ease-in-out;
transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.partners__item-link img:hover {
-webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
        transform: scale(1.1);
}

.partners__item-link:focus {
outline: none;
opacity: 0.5;
}

.partners__item-link img:active {
-webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
        transform: scale(0.95);
}

.partners__list {
padding: 0 69px;
}

/* questions */

.questions {
margin-bottom: 44px;

}

.questions__title {
color: var(--dark-gray);
font-size: 40px;
font-weight: 800;
text-transform: uppercase;
line-height: normal;
margin-bottom: 5px;
}

.questions__sub-title {
color: var(--dark-gray);
font-size: 20px;
font-weight: 500;
margin-bottom: 39px;
}

.questions__back {
-webkit-backdrop-filter: blur(6px);
        backdrop-filter: blur(6px);
background: url('../img/questions.png');
background-repeat:no-repeat;
}
.questions__container {
width: 70%;
margin-left: auto;
margin-bottom: 35px;
}

.questions__btn {
text-align: left;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
border-radius: 20px;
background: #B9E2F2;
padding: 31px 52px;
font-size: 22px;
font-weight: 500;
margin-bottom: 9px;
-webkit-transition: background 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
transition: background 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
-o-transition: transform 0.3s ease-in-out, background 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
transition: transform 0.3s ease-in-out, background 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
transition: transform 0.3s ease-in-out, background 0.3s ease-in-out, box-shadow 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
}

.questions__btn:hover {
-webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
        transform: scale(1.05);
}

.questions__btn:focus {
outline: 4px solid #B9E2F2;
background: var(--white);
-webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}


.questions__item {
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
-webkit-box-pack: start;
    -ms-flex-pack: start;
        justify-content: flex-start;
}

.questions__desc {
text-align: left;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
border-radius: 20px;
background: #B9E2F2;
padding: 31px 52px;
font-size: 16px;
font-weight: 500;
margin-bottom: 9px;
display: none;
visibility: hidden;
opacity: 0;
-webkit-transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;
-o-transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;
transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.questions__desc--active {
display: block;
visibility: visible;
opacity: 1;
}

.questions__contact-adress {
width: 46%;
font-style: normal;

}

.questions__contact {
-webkit-box-pack: justify;
    -ms-flex-pack: justify;
        justify-content: space-between;
font-size: 20px;
font-weight: 500;
color: var(--dark-gray);
}

.questions__contact-connect {
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
text-align: right;
}

.questions__contact-connect-mail {
text-transform: uppercase;
}

/* footer */

footer {
background-color:#0D8AF4;

}

.footer__list {
-webkit-box-pack: justify;
    -ms-flex-pack: justify;
        justify-content: space-between;
}

.footer__item {
color: var(--white);
font-size: 20px;
font-weight: 500;
padding: 8px 0;
}

@media (max-width: 1715px) {
.hero {
    background-size: cover;
}

.hero__desc {
    padding-top: 221px;
}

.hero__title {
    margin-bottom: 71px;
    font-size: 43px;
}

.hero__sub-title {
    text-align: end;
    color:rgb(76, 79, 80)
}

.hero__send {
    text-align: end;
}
.hero__form-input {
    margin-right: 0;
}

.hero__form-btn {
    margin-bottom: 10px;
}

.hero__form-desc {
    font-size: 12px;
    text-align: right;
}

.item-small {
    max-width: none;
    margin-right: 0;
}

.item-large {
    max-width: none;
    margin-right: 0;
}

.services__item {
    width: 45%;
    margin-right: 20px;
    margin-bottom: 20px;
}

.services__item-link {
    padding: 11px 19px;
}

.feedback__title {
    font-size: 36px;
}

.questions__back {
    background: none;
}

.questions__container {
    width: 100%;
}
}

@media (max-width: 1441px) {
.container {
    padding: 0 138px;
}

.hero {
    background-size: contain;
    min-height: 0;
    background-position: -30px 36px;
    margin-bottom: 45px;
}

.hero__desc {
    width: 100%;
    padding-top: 0;
}

.hero__title {
    margin-bottom: 43px;
}

.services__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.hero__sub-title {
    margin-bottom: 26px;
}

.feedback__desc-container {
    padding: 0 296px;
}

.feedback__form-container {
    margin: 0px 303px;
}
}

@media (max-width: 1025px) {
.header__adress {
    margin-right: 30px;
}

.header__btn {
    font-size: 11px;
    padding: 8px 28px;
}

.hero__title {
    font-size: 35px;
    margin-bottom: 68px;
}

.hero__title-price {
    font-size: 18px;
    padding: 7px 30px;
}

.hero__sub-title {
    font-size: 16px;
}

.hero__form-input {
    padding: 12px 62px 12px 29px;
}

.hero__form-input::-webkit-input-placeholder {
    color:  #9C9C9C;
    font-size: 12px;
    font-weight: 400;
}

.hero__form-input::-moz-placeholder {
    color:  #9C9C9C;
    font-size: 12px;
    font-weight: 400;
}

.hero__form-input:-ms-input-placeholder {
    color:  #9C9C9C;
    font-size: 12px;
    font-weight: 400;
}

.hero__form-input::-ms-input-placeholder {
    color:  #9C9C9C;
    font-size: 12px;
    font-weight: 400;
}

.hero__form-input::placeholder {
    color:  #9C9C9C;
    font-size: 12px;
    font-weight: 400;
}

.btn {
    font-size: 17px;
    padding: 11px 53px;
}

.hero__form-desc {
    margin-right: 0;
    font-size: 10px;
}

.title {
    font-size: 33px;
}

.services__item-title {
    margin-bottom: 7px;
    font-size: 17px;
}

.services__item-desc {
    font-size: 12px;
}

.advantages__item {
    width: 90%;
}

.advantages__item:nth-child(3), .advantages__item:nth-child(4) {
    width: 85%;
}

.feedback__title {
    font-size: 34px;
}
}

@media (max-width: 991px) {
.container {
    padding: 0 95px;
}

.header__adress {
    margin-right: 27px;
    font-size: 13px;
}

.header__tel {
    margin-right: 18px;
    font-size: 14px;
}

.hero__title {
    font-size: 21px;
    padding-top: 20px;
    margin-bottom: 52px;
}

.hero__title-price {
    font-size: 14px;
    padding: 7px 21px;
}

.hero__sub-title {
    font-size: 11px;
}

.hero__form-input {
    padding: 8px 19px 7px 29px;
}

.btn {
    font-size: 11px;
}

.hero__form-desc {
    font-size: 7px;
    line-height: 11px;
}

.feedback__desc-container {
    padding: 0 185px;
}

.feedback__title {
    font-size: 32px;
    text-align: center;
    margin-bottom: 88px;
}

.feedback__sub-title {
    font-size: 15px;
}

.feedback__form-container {
    margin: 0 212px;
}

.ecology__item {
    font-size: 11px;
}

.questions__title {
    font-size: 32px;
}

.questions__sub-title {
    font-size: 16px;
}

.questions__btn {
    padding: 25px 52px;
    font-size: 18px;

}

.questions__contact {
    font-size: 10px;
}

.footer__item {
    font-size: 10px;
}
}

@media (max-width: 767px) {

body {
    overflow-x: hidden;
}

.container {
    padding: 0 21px;
}

.header__list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

}

.header__adress {
    margin-right: 0;
}

.header__tel {
    margin-right: 0;
}

.header__btn {
    margin-right: 0;
}

.container-big {
    padding: 0 20px;
}

.hero__desc {
    width: 58%;
    
}

.hero__title {
    margin-bottom: 55px;
}

.hero__sub-title {
    font-size: 12px;
}

.advantages__item {
    font-size: 12px;
}

.feedback {
    min-height: 617px;
}

.feedback__desc-container {
    padding: 0 60px;
}

.feedback__title {
    font-size: 28px;
    padding-top: 165px;
}

.feedback__sub-title {
    font-size: 12px;
}

.feedback__form-container {
    margin: 0 90px;
}
}

@media (max-width: 575px) {
.container {
    padding: 0 10px;
}

.header__list {
    gap: 10px;
}

.header__adress {
    font-size: 11px;
}

.header__tel {
    font-size: 11px;
}

.header__btn {
    margin: 0 auto;
}

.hero {
    background: none;
}

.container-big {
    padding: 0 10px;
}

.hero__desc {
    width: 100%;
}

.title {
    font-size: 27px;
}

.services__tittle {
    margin-bottom: 27px;
}

.services__item {
    width: 43%;
}

.services__item-title {
    font-size: 9px;
}

.services__item-desc {
    font-size: 7px;
}

.advantages {
    background: none;
}

.advantages__title {
    margin-bottom: 27px;
}

.advantages__list {
    -ms-grid-columns: 1fr;
    grid-template-columns: repeat(1, 1fr);
    gap: 19px;

}

.feedback__desc-container {
    padding: 0 10px;
}

.feedback__title {
    padding-top: 147px;
    margin-bottom: 52px;
}

.feedback__form-container {
    margin: 0 10px;
}

.ecology__sub-title {
    font-size: 12px;
}

.ecology__item {
    width: 100%;
    margin-bottom: 15px;
}

.partners__sub-title {
    font-size: 12px;
}

.partners__item {
    width: 100%;
}

.questions__title {
    font-size: 21px;
    text-align: center;
}

.questions__sub-title {
    font-size: 12px;
    text-align: center;
}

.questions__btn {
    padding: 19px 36px;
    font-size: 18px;
}

.questions__contact {
    font-size: 8px;
}

.footer__item {
    font-size: 7px;
}
}